<h3 class="event-title"><a href="/events/">Upcoming Events</a></h3>

<div class="whitespace"></div>

<a href="/events/"><img src="/img/blueprint.png" alt="Blueprint" class="event-sidebar"></a>

<hr>

<a href="/events/"><img src="/img/sales.png" alt="Sales Mastery" class="event-sidebar"></a>

<hr>

<a href="/events/"><img src="/img/internet-leads.png" alt="Internet Leads Mastery" class="event-sidebar"></a>

<hr>

<a href="/events/"><img src="/img/marketing.png" alt="Marketing Mastery" class="event-sidebar"></a>
