<header class="hero">
  <div class="hero-img" style="background-image: url(/img/background.jpg); background-color: {{site.data.settings.images.hero_background_hex}}">
    <h1 class="site-title">Your Guide to Increase the Value of Your Business</h1>
    <h3 class="site-title">Nothing in this business stays the same and if you don’t have a systemized business approach, a proven methodology, and support, making a living in real estate in the “new economy” is going to be very hard.</h3>
    <div class="whitespace"></div>
  </div>
</header>
