<div class="homepage-bio">
<p class="team-bio">
  At C21 The Harrelson group, we are all about knowledge. Our agents take extensive training in marketing, working with sellers, working with buyers, and all around customer service at its best. We know the Grand Strand area and have an agent to specialize in residential homes, vacation condos in Myrtle Beach, and living the good life on our many Championship Golf Courses.</p>
  <!-- <p class="team-bio">
  Our  founder, Greg Harrelson, spent ten years being coached by one of the nation's top brokers and career coaches.  He now trains and coaches his own team of agents, and this group represents some of the most knowledgeable top real estate agents on the Grand Strand.  Our company mission is to give the most dedicated and experienced client services.  You won't find a harder working team of Myrtle Beach Realtors  anywhere!  We want to be YOUR Realtor choice, and your needs will be our  priority.
  </p> -->
</div>
